<!DOCTYPE html>
<html>

<head>
    <title>Add Building</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/add_building.css') }}">
</head>

<body>

<div class="container">

    <h2>Add Building</h2>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}

                <div class="message {{ category }}">
                    {{ message }}
                </div>

            {% endfor %}
        {% endif %}
    {% endwith %}

    <form method="POST">

        <label>Building Name</label>

        <input type="text" name="name" required>

        <label class="checkbox-label">
            <input type="checkbox" name="is_active" checked>
            Active
        </label>

        <button type="submit">Add Building</button>

    </form>

   <h3>Existing Buildings</h3>

  <div class="building-list">
      <ul>
          {% for building in buildings %}
              <li>{{ building.name }}</li>
          {% endfor %}
      </ul>
  </div>

</div>

</body>
</html>