<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
</head>
<body>

    <h2>User Dashboard</h2>

    <a href="{{ url_for('issues.raise_issue_form') }}">
        Raise New Issue
    </a>

    <hr>

    <h3>Your Submitted Issues</h3>

    {% for issue in issues %}

        <div>

            <strong>{{ issue.title or "Pending verification..." }}</strong>

            <p>
            Status:
            <span class="badge status-{{ issue.status.name | lower }}">
            {{ get_user_visible_status(issue) }}
            </span>
            </p>

            <p>
            Location:
            {{ issue.building.name }}
            /
            Floor {{ issue.floor.number }}
            /
            Room {{ issue.room.name }}
            </p>

            <a href="{{ url_for('issues.issue_detail', issue_id=issue.id) }}">
            View Details
            </a>

        </div>

    <hr>

    {% else %}

        <p>No issues submitted yet.</p>

    {% endfor %}

    
</body>
</html>